@import url(/style/style_index.css);
@import url(/style/style_pasajero.css);

nav .intranet {
  width: 180px;
}

/*----------------------
    HERO 
-----------------------*/

.text-hide {
  display: none;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("/images/hero-conductor.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-width: 100%;
  min-height: 250px;
  height: 38vw;
}

.text-hero {
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinea los elementos al borde izquierdo */
  align-self: flex-end;
}

.text-hero .title {
  color: var(--color-white);
  font-size: var(--font-size-title-header);
  line-height: var(--line-height-title-header);
  text-align: right;
}

.text-hero .subtitle {
  margin: 0;
  color: var(--color-white);
  padding: 20px 0px 0px 0px; /* Ajusta según sea necesario */
  font-size: var(--font-size-subtitle-header);
  line-height: var(--line-height-subtitle-header);
  text-align: right;
}

/*----------------------
    2 SECTION 2 PARTE 
-----------------------*/

.section-2S2P {
  padding-bottom: var(--padding-large);
}

.section-2S2P .list-2S2P {
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 30vw;
}

.text-2S2P .list-2S2P li {
  color: var(--color-text);
  font-size: var(--font-size-text);
  line-height: var(--line-height-text-section);
}

.box-2S2P .button-2S2P {
  display: flex;
}

/*-----------
    1500
-------------*/

@media screen and (max-width: 1500px) {
}

/*-----------
    1280
-------------*/

@media screen and (max-width: 1280px) {
}

/*-----------
    1150
-------------*/

@media screen and (max-width: 1150px) {
  main {
    padding-top: 0vb;
    z-index: 0;
  }

  /*NAV*/
  nav .link-hide {
    display: none;
  }

  nav .more {
    display: flex;
  }

  /*HERO*/

  .box-hero {
    padding-top: 0px;
  }

  .text-hero-index {
    display: none;
  }

  .text-hide {
    padding-bottom: var(--padding-short);
    display: flex;
    flex-direction: column;
    color: var(--color-text);
  }

  .text-hide .title {
    font-size: var(--font-size-title-header);
    font-weight: var(--font-weight-title-header);
    line-height: var(--line-height-title-header);
  }

  .text-hide .subtitle {
    font-size: var(--font-size-subtitle-header);
  }
}

/*-----------
    850
-------------*/

@media screen and (max-width: 850px) {
  header,
  main {
    padding: 0% 10%;
  }

  .app {
    padding: 3% 0%;
  }

  .app img {
    height: 60px;
  }

  /*----------------------
      1 SECTION 3 PARTES 
    -----------------------*/

  .box-1S3P [class^="box-"] {
    padding: 0;
  }

  /*----------------------
      2 SECTION 2 PARTE 
    -----------------------*/

  .section-1S3P .box-1S3P,
  .section-2S1P {
    display: flex;
    flex-direction: column;
  }

  .section-2S1P {
    padding-top: var(--padding-large);
    padding-bottom: var(--padding-large);
    display: flex;
    flex-direction: column-reverse;
  }

  .section-2S1P .text-2S1P,
  .section-2S2P .text-2S2P {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 100%;
  }

  .box-2S1P {
    width: 80vw;
    margin-top: 5vw;
  }

  .section-2S1P .img-2S1P img,
  .section-2S2P .img-2S2P img {
    width: 80vw;
    border-radius: 20px;
  }

  .FAQ {
    padding-top: var(--padding-large);
    padding-bottom: var(--padding-x-large);
  }
}

/*-----------
    600
-------------*/

@media screen and (max-width: 600px) {
  header {
    padding: 0%;
  }

  main {
    padding: 0% 5%;
  }

  nav {
    padding: 0;
  }

  nav ul,
  nav .icono {
    display: none;
  }

  nav .mobile {
    display: block;
  }

  /*----------------------
      HERO 
    -----------------------*/

  .hero {
    width: 90%;
    height: 50vw;
  }

  /*----------------------
      1 SECTION 3 PARTES 
    -----------------------*/

  .section-2S1P,
  .section-2S2P {
    display: flex;
    flex-direction: column-reverse;
  }

  .box-2S1P {
    width: 90vw;
    margin-top: 5vw;
  }

  .section-2S1P .img-2S1P img,
  .section-2S2P .img-2S1P img {
    width: 90vw;
    border-radius: 20px;
  }
}

/*-----------
      400
  -------------*/

@media screen and (max-width: 400px) {
  .app img {
    height: 50px;
  }
}
