@import url(/style/style_index.css);
@import url(/style/style_pasajero.css);

/*----------------------
    HERO 
-----------------------*/

.text-hide {
  display: none;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("/images/hero-empresa.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 100%;
  min-height: 250px;
  height: 38vw;
}

.text-hero {
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los elementos al borde izquierdo */
  align-self: flex-start;
}

.text-hero .title {
  color: var(--color-white);
  font-size: var(--font-size-title-header);
  line-height: var(--line-height-title-header);
}

.text-hero .subtitle {
  margin: 0;
  color: var(--color-white);
  padding: 20px 0px 0px 0px; /* Ajusta según sea necesario */
  font-size: var(--font-size-subtitle-header);
  line-height: var(--line-height-subtitle-header);
}

/*----------------------
    SLIDER 
-----------------------*/

.box-logos {
  padding-top: var(--padding-large);
  padding-bottom: var(--padding-large);
  overflow: hidden;
  white-space: nowrap;
}

.box-logos-slide {
  display: inline-block;
  animation: 30s slide infinite linear;
}

.box-logos-slide img {
  height: 30px;
  margin: 0 40px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/*-----------
    1500
-------------*/

@media screen and (max-width: 1500px) {
}

/*-----------
    1280
-------------*/

@media screen and (max-width: 1280px) {
}

/*-----------
    1150
-------------*/

@media screen and (max-width: 1150px) {
  main {
    padding-top: 0vb;
    z-index: 0;
  }

  /*NAV*/
  nav .link-hide {
    display: none;
  }

  nav .more {
    display: flex;
  }

  /*HERO*/

  .box-hero {
    padding-top: 0px;
  }

  .text-hero .title {
    display: none;
  }

  .text-hero .subtitle {
    display: none;
  }

  .text-hide {
    padding-bottom: var(--padding-short);
    display: flex;
    flex-direction: column;
    color: var(--color-text);
  }

  .text-hide .title {
    font-size: var(--font-size-title-header);
  }

  .text-hide .subtitle {
    font-size: var(--font-size-subtitle-header);
  }
}

/*-----------
    850
-------------*/

@media screen and (max-width: 850px) {
  /*----------------------
      1 SECTION 3 PARTES 
    -----------------------*/

  .box-1S3P [class^="box-"] {
    padding: 0;
  }
}

/*-----------
    600
-------------*/

@media screen and (max-width: 600px) {
  header {
    padding: 0%;
  }

  main {
    padding: 0% 5%;
  }

  nav {
    padding: 0;
  }

  nav ul,
  nav .icono {
    display: none;
  }

  nav .mobile {
    display: block;
  }

  /*----------------------
      HERO 
    -----------------------*/

  .hero {
    width: 90%;
    height: 50vw;
  }

  /*----------------------
      1 SECTION 3 PARTES 
    -----------------------*/

  .section-2S1P,
  .section-2S2P {
    display: flex;
    flex-direction: column-reverse;
  }

  .box-2S1P {
    width: 90vw;
    margin-top: 5vw;
  }

  .section-2S1P .img-2S1P img,
  .section-2S2P .img-2S1P img {
    width: 90vw;
    border-radius: 20px;
  }

  /*----------------------
    SLIDER 
-----------------------*/

  .box-logos {
    .box-logos-slide img {
      height: 20px;
    }
  }
}

/*-----------
      400
  -------------*/

@media screen and (max-width: 400px) {
  .app img {
    height: 50px;
  }
}
